head
  title COMPANY
  // Latest compiled and minified CSS
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // jQuery library
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  // Latest compiled JavaScript
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script.
    document.cookie = "username=Jdfgfdgfdgdfg";
#head_box.container
  .p.anel.panel-default
    .panel-body(style='padding:50px')
      #head_left.col-sm-6
        center
          img.img-responsive(src='https://goo.gl/sTmbCm', width='450', height='178')
      #head_right.col-sm-6
        center
          // <form method="post">
          form(action='/index.html', method='post')
            table
              tr
                th
                  h4 Username:
                th
                  input.form-control(type='text', name='user')
              tr
                th
                  h4 Password:
                th
                  input.form-control(type='password', name='pass')
              tr
                th
                th(style='text-align: right;')
                  input.btn.btn-default(type='submit', value='Login')
